distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.6
django-cors-headers==4.3.0
djangorestframework==3.14.0
env==0.1.0
gunicorn==21.2.0
ipykernel==6.25.2
ipython==8.16.1
jedi==0.19.1
packaging==23.2
Pillow==10.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
wcwidth==0.2.8
